* {
    font-family: 'Roboto';
}

body {
    margin: 2em;
    background-image: url('../public/img/global-it-services-sacramento-ca.jpg');
    background-repeat: no-repeat;
}

h1,
h2,
h3 {
    color: white;
}

label {
    color: white;
}

.searchContainer {
    float: right;
}

.css-1hdyuqk-MuiPaper-root-MuiAlert-root {
    opacity: 1;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root {
    margin: 3px;
}